<label>
  Search:
  <input type="text" [formControl]="search">
</label>
<button type="submit">Search</button>
<p>
  Search for a StarWars character. Try searching for 'r', 'r2', 'r2d2'
</p>

<br>
<br>
<div>Results:</div>

<div>
  <div *ngIf="errorMessage">{{errorMessage}}</div>
  <ul>
    <li *ngFor="let result of searchResults$ | async">
      <a href="#" (click)="openCharacter(result.url)">{{result.name}}</a>
    </li>
  </ul>
</div>

<div *ngIf="character$ | async as character">
  <div>{{character | json}}</div>
</div>
